﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*<meta http-equiv="refresh" content="60" />*@
<head>
    <script type="text/javascript">
        var img;
        function openWin(img)
        {
          
           window.open(img,"mywin","menubar=0,resizable=0,width=400,height=300");
        }
        function openWin1(img) {

            window.open(img, "mywin", "menubar=0,resizable=0,width=400,height=300");
        }
        function openWin2(img) {

            window.open(img, "mywin", "menubar=0,resizable=0,width=400,height=300");
        }
    </script>

</head>
<body>
<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar">
        <a href="#simple-panel" class="mdl-tabs__tab is-active">Simple Problems</a>
        <a href="#multiple-panel" class="mdl-tabs__tab">Multiple Triangle Problems</a>
        <a href="#complex-panel" class="mdl-tabs__tab">Complex Problems</a>
    </div>



    @*Simple Problems*@
    <div class="mdl-tabs__panel is-active" id="simple-panel">

        <div class="panel panel-success">

            <div class="mdl-card__title">
                <div class="mdl-card__title-text">Simple Trigonometric Problems</div>
            </div>

            <div class="mdl-card__supporting-text"><h4>Please enter the respective notation to get the equivalent notations.</h4></div>



            @*radio buttons*@
            <div class="col-sm-10">
                <br />

                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
                    <input type="radio" id="option-1" class="mdl-radio__button" name="options" value="1" onclick="option1()">
                    <span class="mdl-radio__label">only sides</span>
                </label>
                &nbsp;
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
                    <input type="radio" id="option-2" class="mdl-radio__button" name="options" value="2" onclick="option2()">
                    <span class="mdl-radio__label">only angles</span>
                </label>
                &nbsp;
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-3">
                    <input type="radio" id="option-3" class="mdl-radio__button" name="options" value="3" onclick="option3()">
                    <span class="mdl-radio__label">Finding sides using sides and angles</span>
                </label>
                &nbsp;
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-4">
                    <input type="radio" id="option-4" class="mdl-radio__button" name="options" value="4" onclick="option4()">
                    <span class="mdl-radio__label">Finding angles using sides</span>
                </label>
                
            </div>
            <div class="col-sm-2">
                <br/>
               

                
                <button id="help" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored" onclick="openWin('/images/Triangle.png')" >
                    <i class="material-icons">?</i>
                </button>
                
                <div class="mdl-tooltip" data-mdl-for="help">
                    Reference Diagram
                </div>
             </div>





            <div class="mdl-card__actions mdl-card--border">


                <form action="#">
                    <br />
                    <br>

                    <div class="container text-center">
                        
                        <div class="col-sm-3" style="text-align : left">
                            <div class="mdl-textfield mdl-js-textfield" >
                                Enter a value
                                <input class="mdl-textfield__input" type="text" id="quadrant1" oninput="ValidToA(this.value)">
                               
                                <p id="Sa" style="color : red; font : bold 18px arial,verdana;"></p>
                            </div>
                            <br />
                            <br />
                            <div class="mdl-textfield mdl-js-textfield" >
                                Enter b value
                                <input class="mdl-textfield__input" type="text" id="quadrant2" oninput="ValidToB(this.value)">
                                
                                <p id="Sb" style="color : red; font : bold 18px arial,verdana;"></p>
                            </div>
                            <br />
                            <br />
                            <div class="mdl-textfield mdl-js-textfield">
                                Enter c value
                                <input class="mdl-textfield__input" type="text" id="quadrant3" oninput="ValidToC(this.value)">
                                
                                <p id="Sc" style="color : red; font : bold 18px arial,verdana;"></p>
                            </div>
                            <br />
                            <br />
                            <div class="mdl-textfield mdl-js-textfield">
                                Enter ∠A value
                                <input class="mdl-textfield__input" type="text" id="quadrant4" oninput="ValidToLA(this.value)">
                                
                                <p id="SLa" style="color : red; font : bold 18px arial,verdana;"></p>
                            </div>
                            <br />
                            <br />
                            <div class="mdl-textfield mdl-js-textfield">
                                Enter ∠C value
                                <input class="mdl-textfield__input" type="text" id="quadrant6" oninput="ValidToLC(this.value)">
                               
                                <p id="SLc" style="color : red; font : bold 18px arial,verdana;"></p>
                            </div>
                        </div>
                        <br/>
                        <br />
                        <div class="col-sm-3">
                           <b>units   : </b>
                            <select id="Distance">
                                
                                <option value="m" id="Meters">Meters</option>
                                <option value="mi" id="Miles">Miles</option>
                                <option value="km" id="Kilometres">Kilometers</option>
                                <option value="cm" id="Centi">Centimeters</option>
                            </select>
                        </div>
                            <div class="col-sm-5">

                                <div class="panel panel-success">
                                    
                                    <div class="panel-heading">Graphical Orientation for Inputs Produced</div>

                                    <div class="panel-body"><center> 
                                        <canvas width="400" height="400" id="Simple_Canvas">
                                         

                                                               
                                        </canvas></center>
                                        <a id="download" onclick="down()">Download as image</a>
                                    </div>
                                </div>

                            </div>
                        <div class="col-sm-1">
                            </div>
                        </div>




                    <div class="container text-center">
                        <div class="col-sm-6">
                            <center>
                                <button type="button" id="btn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" onclick="myFunction()">
                                    Submit
                                </button>
                                
                            </center>
                        </div>

                        <div class="col-sm-6">
                            <center>
                                <button type="button" id="reload" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" onclick="refresh()">
                                    Clear
                                </button>
                            </center>
                        </div>
                        </div>
</form>
                <br />
                <br />





            </div>


        </div>





    </div>



    @*Multiple Triangle Problems*@
    <div class="mdl-tabs__panel" id="multiple-panel">

        <div class="panel panel-success">

            <div class="mdl-card__title">
                <div class="mdl-card__title-text">Multiple Triangle Problems</div>
            </div>



            <form action="#">
                <br />
                <br>

                <div class="container text-center" style="text-align : left">
                    <div class="col-sm-3">
                        <div class="mdl-textfield mdl-js-textfield">
                            Enter a value
                            <input class="mdl-textfield__input" type="text" id="value-a" name="quadrant1" oninput="ValidToMa(this.value)">
                        
                            <p id="Ma" style="color : red; font : bold 18px arial,verdana;"></p>
                        </div>
                        <br />
                        <br />
                        <div class="mdl-textfield mdl-js-textfield">
                            Enter b value
                            <input class="mdl-textfield__input" type="text" id="value-b" oninput="ValidToMb(this.value)">
                          
                            <p id="Mb" style="color : red; font : bold 18px arial,verdana;"></p>
                        </div>
                        <br />
                        <br />
                        <div class="mdl-textfield mdl-js-textfield">
                            Enter c value
                            <input class="mdl-textfield__input" type="text" id="value-c" oninput="ValidToMc(this.value)">
                        
                            <p id="Mc" style="color : red; font : bold 18px arial,verdana;"></p>
                        </div>
                        <br />
                        <br />
                        <div class="mdl-textfield mdl-js-textfield">
                            Enter d value
                            <input class="mdl-textfield__input" type="text" id="value-d" oninput="ValidToMd(this.value)">
                            
                            <p id="Md" style="color : red; font : bold 18px arial,verdana;"></p>
                        </div>
                        <br />
                        <br />
                        <div class="mdl-textfield mdl-js-textfield">
                            Enter e value
                            <input class="mdl-textfield__input" type="text" id="value-e" oninput="ValidToMe(this.value)">
                            
                            <p id="Me" style="color : red; font : bold 18px arial,verdana;"></p>
                        </div>
                        <br />
                        <br />
                        <div class="mdl-textfield mdl-js-textfield">
                            Enter f value
                            <input class="mdl-textfield__input" type="text" id="value-f" oninput="ValidToMf(this.value)">
                            
                            <p id="Mf" style="color : red; font : bold 18px arial,verdana;"></p>
                        </div>
                        <br />
                        <br />
                        <div class="mdl-textfield mdl-js-textfield">
                            Enter ∠A value
                            <input class="mdl-textfield__input" type="text" id="value-LA" oninput="ValidToMLa(this.value)" >
                            <p id="MLa" style="color : red; font : bold 18px arial,verdana;"></p>
                        </div>
                        <br />
                        <br />
                        <div class="mdl-textfield mdl-js-textfield">
                            Enter ∠C value
                            <input class="mdl-textfield__input" type="text" id="value-LC" oninput="ValidToMLc(this.value)">
                            <p id="MLc" style="color : red; font : bold 18px arial,verdana;"></p>
                        </div>
                        <br />
                        <br />
                        <div class="mdl-textfield mdl-js-textfield">
                            Enter ∠D value
                            <input class="mdl-textfield__input" type="text" id="value-LD" oninput="ValidToMLd(this.value)">
                           
                            <p id="MLd" style="color : red; font : bold 18px arial,verdana;"></p>
                        </div>
                        <div class="container text-center">
                            <div class="col-sm-6">
                                <center>
                                    <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" onclick="myFunction2()">
                                        Submit
                                    </button>

                                </center>
                            </div>
                            <div class="col-sm-6">
                                <center>
                                    <button type="button" id="reload" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" onclick="refresh()">
                                        Clear
                                    </button>
                                </center>
                            </div>
                        </div>
                        </div>
                    <div class="col-sm-2">
                        <b>units   : </b>
                        <select id="Distance1">

                            <option value="m" id="Meters">Meters</option>
                            <option value="mi" id="Miles">Miles</option>
                            <option value="km" id="Kilometres">Kilometers</option>
                            <option value="cm" id="Centi">Centimeters</option>
                        </select>
                    </div>
                    
                        <div class="col-sm-7">
                            <div class="panel panel-success">

                                <div class="panel-heading">Graphical Orientation for Inputs Produced</div>
                                <button id="help1" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored" onclick="openWin1('/images/multiple.png')">
                                    <i class="material-icons">?</i>
                                </button>

                                <div class="mdl-tooltip" data-mdl-for="help1">
                                    Help
                                </div>
                                <div class="panel-body">
                                    <center>
                                        <canvas width="430" height="400" id="Multiple_Canvas"></canvas>
                                        <a id="download2" onclick="downMultiple()">Download as image</a>
                                    </center>

                                </div>
                            </div>
                        </div>
                       

                    </div>
            </form>





        </div>
    </div>


    @*Complex problems*@
    <div class="mdl-tabs__panel" id="complex-panel">

        <div class="panel panel-success">



            <div class="mdl-card__title">
                <div class="mdl-card__title-text">Complex Triangle Problems</div>
            </div>


            <form action="#">
                <br />
                <br>

                <div class="container text-center" style="text-align : left">
                    <div class="col-sm-3">
                        <div class="mdl-textfield mdl-js-textfield">
                            Enter a value
                            <input class="mdl-textfield__input" type="text" id="value-a1" name="quadrant1"  oninput="ValidToCa(this.value)">
                           
                            
                            <p id="Ca" style="color : red; font : bold 18px arial,verdana;"></p>
                        </div>
                        <br />
                        <br />
                        <div class="mdl-textfield mdl-js-textfield">
                            Enter b value
                            <input class="mdl-textfield__input" type="text" id="value-b1" oninput="ValidToCb(this.value)">
                            
                            <p id="Cb" style="color : red; font : bold 18px arial,verdana;"></p>
                        </div>
                        <br />
                        <br />
                        <div class="mdl-textfield mdl-js-textfield">
                            Enter c value
                            <input class="mdl-textfield__input" type="text" id="value-c1" oninput="ValidToCc(this.value)">
                            
                            <p id="Cc" style="color : red; font : bold 18px arial,verdana;"></p>
                        </div>
                        <br />
                        <br />
                        <div class="mdl-textfield mdl-js-textfield">
                            Enter d value
                            <input class="mdl-textfield__input" type="text" id="value-d1" oninput="ValidToCd(this.value)">
                            
                            <p id="Cd" style="color : red; font : bold 18px arial,verdana;"></p>
                        </div>
                        <br />
                        <br />

                        <div class="mdl-textfield mdl-js-textfield">
                            Enter ∠A value
                            <input class="mdl-textfield__input" type="text" id="value-LA1" oninput="ValidToCLa(this.value)">
                            
                            <p id="CLa" style="color : red; font : bold 18px arial,verdana;"></p>
                        </div>
                        <br />
                        <br />
                        <div class="mdl-textfield mdl-js-textfield">
                            Enter ∠B value
                            <input class="mdl-textfield__input" type="text" id="value-LB1" oninput="ValidToCLb(this.value)">
                            
                            <p id="CLb" style="color : red; font : bold 18px arial,verdana;"></p>
                        </div>
                        <br />
                        <br />
                        <div class="mdl-textfield mdl-js-textfield">

                            Enter ∠C value
                            <input class="mdl-textfield__input" type="text" id="value-LC1" oninput="ValidToCLc(this.value)">
                          
                            <p id="CLc" style="color : red; font : bold 18px arial,verdana;"></p>
                        </div>
                        <br />
                        <br />
                        <div class="mdl-textfield mdl-js-textfield">
                            Enter ∠D value
                            <input class="mdl-textfield__input" type="text" id="value-LD1" oninput="ValidToCLd(this.value)">
                           
                            <p id="CLd" style="color : red; font : bold 18px arial,verdana;"></p>
                        </div>


                    </div>

                    <div class="col-sm-2">
                        <b>units   : </b>
                        <select id="Distance2">

                            <option value="m" id="Meters">Meters</option>
                            <option value="mi" id="Miles">Miles</option>
                            <option value="km" id="Kilometres">Kilometers</option>
                            <option value="cm" id="Centi">Centimeters</option>
                        </select>
                    </div>
                    <div class="col-sm-7">
                        <div class="panel panel-success">

                            <div class="panel-heading">Graphical Orientation for Inputs Produced</div>
                            <button id="help2" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored" onclick="openWin2('/images/Complex.png')">
                                <i class="material-icons">?</i>
                            </button>

                            <div class="mdl-tooltip" data-mdl-for="help2">
                                Help
                            </div>
                            <div class="panel-body">
                                <center>
                                    <canvas width="450" height="450" id="Complex_Canvas">
                                      off();
                                    </canvas>
                                    <script>
                                        function off() {
                                            window.onload = function () {
                                                var canvas = document.getElementById("Complex_Canvas"); // grabs the canvas element
                                                var context = canvas.getContext("2d"); // returns the 2d context object
                                                var img = new Image() //creates a variable for a new image

                                                img.src = "images/Triangle.png" // specifies the location of the image
                                                context.drawImage(img, 20, 20); // draws the image at the specified x and y location
                                            }
                                        }
                                    </script>
                                 
                                    <a id="download3" onclick="downComplex()">Download as image</a>
                                </center>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                       
                    </div>


                </div>
                <center>
                    <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" onclick="myFunction3()">
                        Submit
                    </button>
                </center>
            </form>





        </div>



    </div>
  
</div>

</body>


















